#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.boxes {

  flex-direction: column;
  align-items: center;
}

.boxes > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxes ul li {
  margin-top: 30rem;
}


.box {
  padding: 10px;
  margin: 10px;
}

.box > h1 {
  background-color: blueviolet;

}