.card {
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.card:hover {
    transform: rotateY(180deg);
}

.cardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
}

.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    transform: rotateY(180deg);
}