.navbar {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(21, 24, 91);
    border-radius: 5px;
}

.navbar-container{
    display: flex;
    text-align: center;
    
}

.nav-menu {
    list-style: none;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}    

.nav-item{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    font-size: 1rem;
}

.nav-links{
    text-decoration: none;
    color: white;
}
